<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客详情页</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/blog_details.css">
</head>
<body>
     <!-- 导航栏 -->
    <div class="nav">
        <img src="image/头像.jpg" alt="C罗">
        <span>我的博客系统</span>
        <!-- 用于占位的，将两边的元素隔开 -->
        <span class="spancer"></span>
        <a href="blog_list.html">主页</a>
        <a href="blog_edit.html">写博客</a>
        <a href="sign_off">注销</a>
    </div>

     <!-- 文章主体 -->
    <div class="articleBody">
        <!-- 左侧个人信息 -->
        <div class="left">
            <div class="card">
                <img src="image/头像.jpg" alt="C罗">
                <h3 class="textCenter" th:text="${user.username}"></h3>
                <a href="https://www.github.com" class="textCenter">github</a>
                <div class="counter">
                    <span>文章</span>
                    <span>分类</span>
                </div> 
                <div class="counter">
                    <span>2</span>
                    <span>1</span>
                </div>
            </div>
            
        </div>
        <!-- 右侧预览页 -->
        <div class="right">
            <div class="blog">
                <div class="title" th:text="${blog.title}"></div>
                <div class="date" th:text="${blog.postTime}"></div>
                <div class="mainBody" th:text="${blog.content}"></div>
            </div>
    </div>
</body>
</html>